#loginButton{
    align-content: center;
    padding: .4rem .9rem;
    margin: .5rem .7rem;
    color: white;
    background: var(--accent-color);
    border-radius: 20px;
    font-weight: inherit;
    font-family: inherit;
    font-size: 1rem;
    border-style: none;

}
#loginButton:active{
    transform: translateY(.04rem);
    background: #e68550;
}

.loginPage {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0 ,0 ,0, 30%);
    backdrop-filter: blur(4px);
    box-sizing: border-box;
}

.loggedUsername {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    border-radius: 10px;
    background: var(--accent-color);
    padding: .5rem;
    cursor: pointer;
}

.userMenu{
    position: fixed;
    top: 5rem;
    right: 25svw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--background-4);
    border-radius: 10px;
    padding: .5rem 0 .5rem 0;
}

.userMenu > *{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .2rem 1rem .2rem 1rem;
}

.userMenu > * > .material-symbols-outlined{
    display: flex;
    width: 2rem;
    justify-content: center;
}

.userMenu > *:hover{
    background: color-mix(in oklab, hsl(0, 0%, 100%) 7%, var(--background-4) 100%);
}

.userMenu > .logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}